.form__stockSymbol-wrapper {
  background-color: #f7f8fd;
  padding-top: 26px;
  padding-bottom: 10px;
}

.form__stockSymbol-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px 0;

  border-radius: 3px;
  border: solid 1px #2a2f51;
  background-color: #4d5270;
}

.form__stockSymbol-label {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}

.form__stockSymbol-input {
  border: solid 1px #2a2f51;
  border-radius: 3px;
  height: 42px;
  width: 164px;
  font-size: 20px;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

.form__checkbox {
	display: none;
}

.form__social-medias {
	margin-top: 20px;
}

.form__social-medias-list {
	display: flex;
	justify-content: center;
	
  background-color: #FFF;
	padding: 20px 0;
}

.form__date-range {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-bottom: 20px;
}

.form__date-range-label {
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	color: #2a2f51;
	margin-bottom: 10px;
}

.form__date-range-input {
	width: 100px;
	height: 42px;
	border-radius: 3px;
	border: solid 1px #b7bde2;
	background-color: #ffffff;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
}

