.recommendations-loading-modal {
	position: absolute;
	width: 50%;
	background-color: #FFF;
	
	top: 50%;
	left: 50%;
	
	padding: 20px;
	
	transform: translate(-50%, -50%);
	
	border-radius: 3px;
	box-shadow: 1px 3px 6px 0 rgba(183, 189, 226, 0.25);
	border: solid 1px #b7bde2;
}

.recommendations-loading-modal:after {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	
	background-image: url(../../../../images/loading.gif);
	background-size: contain;
	background-position: center;
}

.recommendations-loading-modal__title {
	margin-bottom: 10px;
	font-size: 12px;
	text-align: center;
	color: #5c6282;
	text-transform: initial;
}

