.form__social-media-card {
	display: flex;
	flex-direction: column;
	
	padding: 12px 0;
	width: 70px;
	height: 72px;
	
	align-items: center;
	border-radius: 3px;
	box-shadow: 1px 3px 6px 0 rgba(183, 189, 226, 0.25);
	border: solid 1px #b7bde2;
	box-sizing: border-box;
	
	position: relative;
}

.form__social-media-card--disabled {
	background-color: #eeeff7;
}

.form__social-media-card:not(first-child) {
	margin-left: 10px;
}

.form__social-media-card:before {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	margin-bottom: 10px;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.form__social-media-card--Facebook:before {
	background-image: url(../../../../images/facebook.svg);
}
.form__social-media-card--Twitter:before {
	background-image: url(../../../../images/twitter.svg);
}
.form__social-media-card--Instagram:before {
	background-image: url(../../../../images/instagram.svg);
}

.form__social-media-card--disabled.form__social-media-card--Facebook:before {
	background-image: url(../../../../images/disabled/facebook--disabled.svg);
}
.form__social-media-card--disabled.form__social-media-card--Twitter:before {
	background-image: url(../../../../images/disabled/twitter--disabled.svg);
}
.form__social-media-card--disabled.form__social-media-card--Instagram:before {
	background-image: url(../../../../images/disabled/instagram--disabled.svg);
}

.form__social-medias-title {
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	color: #2a2f51;
	margin-bottom: 10px;
}

.form__social-media-card--disabled .form__social-medias-label-text {
	color: #9ea0bd;
}

.form__social-medias-label {
	font-size: 12px;
	color: #2a2f51;
	
	position: absolute;
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
}

.form__social-medias-label-text {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
