.app__header {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 50px;
	
	background-color: #ffffff;
	box-shadow: 0 3px 6px 0 rgba(183, 189, 226, 0.25);
}

.app__main-title {
	font-weight: 600;
	font-size: 26px;
	text-align: center;
	color: #2a2f51;
}

.app__top-posts {
	background-color: #f7f8fd;
	padding: 30px 0;
}
