.topPosts {

}

.topPosts:before,
.topPosts:after {
	content: '';
	display: block;
	
	width: 165px;
	height: 1px;
	background-color: #d2d5eb;
	
}

.topPosts:before {
	margin: 0 auto 20px;
}
.topPosts:after {
	margin: 30px auto 0;
}

.topPosts__title {
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	color: #2a2f51;
	
	margin-bottom: 10px;
}

.topPosts__list {
	display: flex;
	justify-content: space-between;
}

.topPosts__item {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 1px 3px 6px 0 rgba(183, 189, 226, 0.25);
	border: solid 1px #b7bde2;
	
	flex-basis: 48%;
	
	padding: 8px;
}

.topPosts__item:not(:first-child) {
	margin-left: 4%;
}

.topPosts__item-title {
	font-size: 10px;
	font-weight: bold;
	color: #2a2f51;
	
	margin-bottom: 3px;
}

.topPosts__item-hashtag {
	font-size: 10px;
	font-style: italic;
	color: #5c6282;
}

.topPosts__item-text {
	font-size: 11px;
	line-height: 1.27;
	color: #5c6282;
}

.topPosts__image {
	width: 25px;
	height: 25px;
	border: solid 1px #979797;
	background-color: #d8d8d8;
	border-radius: 50%;
	
	margin-right: 8px;
}

.topPosts__info {
	display: flex;
	flex-direction: column;
}

.topPosts__wrapper {
	display: flex;
	align-items: center;
	
	margin-bottom: 8px;
}

