.alert {
	display: flex;
	align-items: center;
	
	position: absolute;
	top: 0;
	left: 0;
	
	transform: translateY(-100%);
	
	height: 50px;
	padding: 0 10px;
	box-sizing: border-box;
	
	width: 100%;
	background-color: #ce5454;
	
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	
	transition: .5s;
}

.alert--visible {
	transform: translateY(0);
}

