.posts-placeholder {
	margin: 0 auto;
	
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	color: #2a2f51;
}

.posts-placeholder:before {
	content: '';
	display: block;
	margin: 0 auto 15px;
	
	width: 118px;
	height: 62px;
	background-image: url(../../../../images/posts-placeholder.svg);
}

.posts-placeholder__featured {
	display: block;
}
