.table-wrapper {
	position: relative;
}

.table {
	width: 100%;
	
	background-color: #4d5270;
	color: #b7bde2;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 10px;
}

.table__row:nth-child(odd) {
	background-color: #575d82;
}

.table__cell {
	text-align: center;
	vertical-align: middle;
	width: 76px;
	height: 32px;
}

.table__cell--head {
	font-size: 10px;
	font-weight: bold;
	line-height: 1.22;
	height: 42px;
	box-sizing: border-box;
	padding: 0;
}

.table__price-currency {
	display: block;
	font-weight: normal;
	color: #b7bde2;
}

.table__cell--recommendation {
	font-weight: bold;
	font-size: 10px;
}

.table__cell--buy {
	color: #86fa7e;
}
.table__cell--sell {
	color: #fbc660;
}
.table__cell--keep {
	color: #dce0fb;
}

